@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
}

header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav {
    width: 60%;
    margin-right: 40px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
    font-family: "Kdam Thmor Pro", sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: auto;
}

.form-container {
    height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 600px;
    padding: 20px;
    color:white;
    font-family: 'Oswald', sans-serif;
    
}

.submit {
    width: 100%;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    z-index: -1;
}

label {
    display: block;
    
}

input {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: medium;
    color: white;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%; /*Para não bugar*/
    min-width: 100%;
    height: 300px;
    min-width: 300px;
    max-height: 300px;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px; 
    color: white;
}  

@media(max-width: 768px) {

    #logo {
        width: 70px;
        height: auto;
    }

}