@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Kdam Thmor Pro", sans-serif;
    
}

body {
    background-color: black;
}

header {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgba( 0, 0, 0, 0.5);
    top: 0;
}

nav {
    width: 60%;
    margin-right: 40px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
    font-family: "Kdam Thmor Pro", sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: auto;
}

.actor-cards-container {
    width: 100%;
    height: 200%;
    display: flex;
    justify-content: center;
    margin-top: 50px;   
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    margin-bottom: 150px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
}

.card:hover {
    transform: scale(1.03);
}

.banner1 {
    background-image: url("./img/pictures/1.jpg");    
}

.banner2 {
    background-image: url("./img/pictures/2.jpg");    
}

.banner3 {
    background-image: url("./img/pictures/3.png");    
}

.banner4 {
    background-image: url("./img/pictures/4.jpg");    
}

.banner5 {
    background-image: url("./img/pictures/5.jpeg");    
}

.banner6 {
    background-image: url("./img/pictures/6.jpeg");    
}

.banner7 {
    background-image: url("./img/pictures/7.jpeg");    
}

.banner8 {
    background-image: url("./img/pictures/8.jpeg");    
}

.banner9 {
    background-image: url("./img/pictures/9.jpeg");    
}